body {
  font-family: 'Quicksand';
  padding: 0 !important;
  margin: 0 !important;
}

a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}

.main {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
}

.content {
  margin-top: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: calc(100% - 95px);
}

.content-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 80em;
}
